@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Truculenta&display=swap');

body {
    font-family: 'Pathway Gothic One', sans-serif;
    color: #13025c;
}

h2 {
    color:#ce752c; 
    font-family: Truculenta, sans-serif;
    
}

#smaller-text-navbar {
    font-size: medium;
}

/*-------------------------WELCOME---*/
.welcome {
    height: 100vh;


    background: url('') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.welcome-header {
    font-weight: 100;
}