@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Cabin+Sketch:wght@400;700&family=Fredericka+the+Great&family=Open+Sans:wght@300;400;600;700&family=Pacifico&display=swap');

/*font-family: 'Cabin Sketch', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Lobster', cursive;

*/



body {
    font-family: 'Open Sans', sans-serif;
    color: #13025c;

    background: url(../images/confetti-1637197-b.jpg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/*-------------------------NAVBAR---*/

h2 {
    color: #DD3805; 
    font-family: 'Lobster', sans-serif;
    font-size: 37px;
    font-weight: 800;
    background-color: white;
    
    
}

#smaller-text-navbar {
    font-size: medium;
}

.heading {
     font-family: 'Fredericka the Great', cursive;
     font-weight: 400;
     font-size: 40px;

}

#navbarText {
    font-family: 'Fredericka the Great', cursive;
    background-color: white;
    color: #ce752c;
}

/*-------------------------WELCOME---*/

.hr-top {
    margin: 0;
    padding: 0;
    color: rgba(134, 133, 133, 0.301);
    
}
.welcome {
    height: 60vh;


    background: url(../images/figure-caterpillar-wood-toys.jpg) center center fixed;
    ) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    

    position: relative;
}



.welcome-heading {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin-top: 100px; 
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center; 
}


.welcome-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

/*-------------------------OF IN SWEDEN---*/

.of-in-sweden {
    height: 30vh;

    /*background: url(../images/confetti-1637197-b.jpg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;*/
}

.of-text {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    background-color: #E0E8EC;
}

.of-text-of {
    color: rgb(5, 36, 54);
}

/*.container-wrapper-of {
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;*/
    
}
}

/*-------------------------ABOUT---*/

.about {
    height: 50vh;


    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.container-wraper-about {
    background-color: #FB754B;
}

.of-text-place-to-play {
    color: white;
}

/*-------------------------PREMISES---*/

.premises {
    min-height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.container-wraper-premises {
    background-color: #ADC2CB;
}

/*-------------------------FOOTER---*/

.footer {
   text-align: center;
   align-items: center;
   justify-content: center;

}

i {
    color: #fafa;
}